.App {
  text-align: center;
  background-color: #33353b;
  height: 100vh;
}

hr {
  border: 2px dashed white;
}

@media (min-height: 620px) and (max-width: 990px) {
  .App {
    height: unset;
  }
}

@media (min-height: 1280px) {
  .App {
    height: 100vh;
  }
}
